# This config is equivalent to both the '.circleci/extended/orb-free.yml' and the base '.circleci/config.yml'
version: 2.1

# Orbs are reusable packages of CircleCI configuration that you may share across projects, enabling you to create encapsulated, parameterized commands, jobs, and executors that can be used across multiple projects.
# See: https://circleci.com/docs/2.0/orb-intro/
orbs:
  node: circleci/node@7.2.1
  aws-cli: circleci/aws-cli@5.1
  aws-ecr: circleci/aws-ecr@9.8.1

#############################################################
# Parameters
#############################################################
parameters:
  repo:
    type: string
    default: "nodejs-playground"

jobs:
  node-test:
    docker:
      - image: circleci/node:20.19
      - image: redis:7.0-alpine
      - image: rabbitmq:4.2-alpine
    environment:
      RABBITMQ_PORT: 5672
    steps:
      - checkout

      - run:
          name: Waiting for RabbitMQ to be ready
          command: |
            for i in `seq 1 15`;
            do
              nc -z 127.0.0.1 ${RABBITMQ_PORT} && echo Success && exit 0
              echo -n .
              sleep 1
            done
            echo Failed waiting for RabbitMQ && exit 1

      - run: npm ci
      - run: npm run test

# Invoke jobs via workflows
# See: https://circleci.com/docs/2.0/configuration-reference/#workflows
workflows:
  build-and-test:
    jobs:
      - node-test:
          context:
            - playground
  # build-and-deploy:
  #   jobs:
  #     - node-test:
  #         context:
  #           - playground
  #     - aws-ecr/build_and_push_image:
  #         requires:
  #           - node-test # Only run deploy job once tests passed
  #         repo: << pipeline.parameters.repo >>
  #         filters:
  #           branches:
  #             only:
  #               - master
  #         name: Upgrade & Publish into ECR
  #         context: playground-aws
  #         #Job params
  #         tag: "${CIRCLE_SHA1}"
  #         auth:
  #           - aws-cli/setup:
  #               # replace 123456789012 to correct
  #               role_arn: arn:aws:iam::123456789012
